{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Producers</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Birth Date</th>
            <th>Birth Location</th>
            <th>Death Date</th>
            <th>Favourite?</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for producer in producers %}

        <tr>
            <td>{{ producer.name }}</td>
            <td>{{ producer.gender|title }}</td>
            <td>{{ producer.birth_date }}</td>
            <td>{{ producer.birth_location }}</td>
            <td>{{ producer.death_date }}</td>
            <td>{{ producer.is_favourite }}</td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a href="{% url 'producer_edit' producer.pk %}">Edit</a>
                </button>
                <form action="{% url 'producer_delete' producer.pk %}" class="inline" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'producer_add' %}">
        <button class="btn btn-neutral">Add</button>
    </a>
</div>

{% endblock %}