{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Issues</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Artist(s)</th>
            <th>Release Year</th>
            <th>Release Country</th>
            <th>Label</th>
            <th>Catalogue #</th>
            <th>Media</th>
            <th>Reissue?</th>
            <th>Barcode</th>
            <th>Total Variants</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for issue in issues %}

        <tr>
            <td>{{ issue.parent_release.title }}</td>
            <td>
                {% for artist in issue.parent_release.artists.all %}
                {{ artist.name }}{% if not forloop.last %} / {% endif %}
                {% endfor %}
            </td>
            <td>{{ issue.release_year }}</td>
            <td>{{ issue.release_country }}</td>
            <td>{{ issue.label.name }}</td>
            <td>{{ issue.catalogue_number }}</td>
            <td>{{ issue.media.name }}</td>
            <td>{{ issue.is_reissue }}</td>
            <td>{{ issue.barcode }}</td>
            <td>{{ issue.issue_variants.all|length }}</td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a href="{% url 'issue_edit' issue.pk %}">Edit</a>
                </button>
                <form action="{% url 'issue_delete' issue.pk %}" class="inline" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'issue_add' %}">
        <button class="btn btn-neutral">Add</button>
    </a>
</div>

{% endblock %}