{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Locations</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Region</th>
            <th>Country</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for location in locations %}

        <tr>
            <td>{{ location.name }}</td>
            <td>
                {% if location.region.abbreviation is not null %}
                {{ location.region.abbreviation }}
                {% else %}
                {{ location.region.name }}
                {% endif %}
            </td>
            <td>{{ location.region.country.alpha2_code }}</td>
            <td>{{ location.latitude }}</td>
            <td>{{ location.longitude }}</td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a href="{% url 'location_edit' location.pk %}">Edit</a>
                </button>
                <form action="{% url 'location_delete' location.pk %}" class="inline" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'location_add' %}">
        <button class="btn btn-neutral">Add</button>
    </a>
</div>

{% endblock %}