{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Media</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Classification</th>
            <th>Origin Year</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for media in media_list %}
        {% load filters %}

        <tr>
            <td>{{ media.name }}</td>
            <td>{{ media.abbreviation|default:'' }}</td>
            <td>
                {% with classification=media.classification|format_enum %}
                {{ classification|title }}
                {% endwith %}
            </td>
            <td>{{ media.origin_year }}</td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a href="{% url 'media_edit' media.pk %}">Edit</a>
                </button>
                <form action="{% url 'media_delete' media.pk %}" class="inline" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'media_add' %}">
        <button class="btn btn-neutral">Add</button>
    </a>
</div>

{% endblock %}