{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Regions</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Abbreviation</th>
            <th>Country</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for region in regions %}

        <tr>
            <td>{{ region.name }}</td>
            <td>{{ region.abbreviation }}</td>
            <td>{{ region.country.alpha2_code }}</td>
            <td>
                <form action="{% url 'region_delete' region.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}