<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head(pageTitle='Media Form')}">
  <title></title>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
  <h3 th:text="${action} + ' Media'"></h3>
  <hr/>
  <div class="container-fluid" style="max-width: 800px">
    <form action="#"
          th:action="${action} == 'Edit' ? @{/media/edit/{id}(id = ${media.mediaId})} : @{/media/add}"
          th:object="${media}" method="post">
      <div class="mb-4">
        <label for="nameInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="nameInput" th:field="*{name}"/>
        <div id="nameValidation" class="form-text text-danger" th:if="${#fields.hasErrors('name')}"
             th:errorclass="error" th:errors="*{name}"></div>
      </div>
      <div class="mb-4">
        <label for="mediaAbbreviationInput" class="form-label">Media Abbreviation</label>
        <input type="text" class="form-control" id="mediaAbbreviationInput" th:field="*{mediaAbbreviation}"/>
        <div id="mediaAbbreviationValidation" class="form-text text-danger"
             th:if="${#fields.hasErrors('mediaAbbreviation')}" th:errorclass="error" th:errors="*{mediaAbbreviation}"></div>
      </div>
      <div class="mb-4">
        <label for="originYearInput" class="form-label">Origin Year</label>
        <input type="number" class="form-control" id="originYearInput" th:field="*{originYear}"/>
        <div id="originYearValidation" class="form-text text-danger" th:if="${#fields.hasErrors('originYear')}"
             th:errorclass="error" th:errors="*{originYear}"></div>
      </div>
      <div class="mb-4">
        <label for="classificationInput" class="form-label">Classification</label>
        <input type="text" class="form-control" id="classificationInput" th:field="*{classification}"/>
        <div id="classificationValidation" class="form-text text-danger" th:if="${#fields.hasErrors('classification')}"
             th:errorclass="error" th:errors="*{classification}"></div>
      </div>
      <div class="text-end mb-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<th:block th:insert="~{fragments/footer :: footer}"></th:block>
<div th:insert="~{fragments/layout :: scripts}"></div>
</body>
</html>