{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Artists</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Years Active</th>
            <th>Formation Location</th>
            <th>Genre(s)</th>
            <th>Favourite?</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for artist in artists %}

        <tr>
            <td><a href="{% url 'artist_info' artist.pk %}">{{ artist.name }}</a></td>
            <td>
                {{ artist.formation_year|default_if_none:""}}
                –
                {% if artist.disband_year %}{{ artist.disband_year }}{% endif %}
            </td>
            <td>{{ artist.formation_location|default_if_none:"" }}</td>
            <td>
                {% for genre in artist.genres.all %}
                {{ genre.name }}{% if not forloop.last %} / {% endif %}
                {% endfor %}
            </td>
            <td>{{ artist.is_favourite }}</td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a href="{% url 'artist_edit' artist.pk %}">Edit</a>
                </button>
                <form action="{% url 'artist_delete' artist.pk %}" class="inline" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'artist_add' %}">
        <button class="btn btn-neutral">Add</button>
    </a>
</div>

{% endblock %}