<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head(pageTitle='Releases')}">
  <title></title>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container-fluid mt-5" style="max-width: 1800px">
  <h3>Releases</h3>
  <hr/>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Release Date</th>
      <th scope="col">Title</th>
      <th scope="col">Artist(s)</th>
      <th scope="col">Genre(s)</th>
      <th scope="col">Release Type(s)</th>
      <th scope="col">Favourite</th>
      <th scope="col">RYM Rating</th>
      <th scope="col">Metacritic</th>
      <th scope="col" style="width: 2.5%">Edit</th>
      <th scope="col" style="width: 2.5%">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="release: ${releases}">
      <td th:text="${release.releaseDate}"></td>
      <td><a th:href="@{/release/{id}(id = ${release.releaseId})}" th:text="${release.title}"></a></td>
      <td><a th:each="artist, i: ${release.artists}" th:href="@{/artist/{id}(id = ${artist.artistId})}"
             th:text="!${i.last} ? ${artist.name} + ' / ' : ${artist.name}"></a></td>
      <td><span th:each="genre, i: ${release.genres}"
                th:text="!${i.last} ? ${genre.name} + ' / ' : ${genre.name}"></span></td>
      <td><span th:each="releaseType, i: ${release.releaseTypes}"
                th:text="!${i.last} ? ${releaseType.name.type} + ' / ' : ${releaseType.name.type}"></span></td>
      <th:block th:switch="${release.favourite}">
        <td th:case="true"><i class="bi-star-fill text-warning"></i></td>
        <td th:case="false"><i class="bi-star text-secondary"></i></td>
      </th:block>
      <td th:text="${release.rymRating}"></td>
      <td th:text="${release.metacritic}"></td>
      <td>
        <a th:href="@{/release/edit/{id}(id = ${release.releaseId})}">
          <button class="btn btn-primary btn-sm"><i class="bi-pencil-fill"></i></button>
        </a>
      </td>
      <td>
        <a th:href="@{/release/delete/{id}(id = ${release.releaseId})}">
          <button class="btn btn-danger btn-sm"><i class="bi-trash-fill"></i></button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="container-fluid" style="max-width: 1800px">
    <div class="row text-end mb-4">
      <div class="col-12 pe-0">
        <a th:href="@{/release/add}" class="pe-2"><button type="submit" class="btn btn-primary">Add</button></a>
        <a th:href="@{/release/type/}"><button type="submit" class="btn btn-secondary">Manage Release Types</button></a>
      </div>
    </div>
  </div>
</div>
<th:block th:insert="~{fragments/footer :: footer}"></th:block>
<div th:insert="~{fragments/layout :: scripts}"></div>
</body>
</html>