{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Country Form</h1>
    <div class="divider"></div>
    <div class="flex items-center justify-center">
        <form method="POST">
            <div class="space-y-12">
                {% csrf_token %}
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 w-80">
                    <!-- Name field -->
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text text-neutral">{{ form.name.label }}</span>
                        </div>
                        <input class="input input-bordered mt-2" type="text" name="name"
                               value="{{ form.name.value|default:'' }}"/>

                        {% if form.name.errors %}

                        <div class="label">
                            <span class="label-text-alt text-error text-xs">{{ form.name.errors }}</span>
                        </div>

                        {% endif %}

                    </label>
                    <!-- Alpha-2 Code field -->
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text text-neutral">{{ form.alpha2_code.label }}</span>
                        </div>
                        <input class="input input-bordered mt-2" type="text" name="alpha2_code"
                               value="{{ form.alpha2_code.value|default:'' }}"/>

                        {% if form.alpha2_code.errors %}

                        <div class="label">
                            <span class="label-text-alt text-error text-xs">{{ form.alpha2_code.errors }}</span>
                        </div>

                        {% endif %}

                    </label>
                </div>
                <button class="btn btn-neutral mt-6" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}