{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Countries</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Alpha-2 Code</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for country in countries %}

        <tr>
            <td>{{ country.name }}</td>
            <td>{{ country.alpha2_code }}</td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a href="{% url 'country_edit' country.pk %}">Edit</a>
                </button>
                <form action="{% url 'country_delete' country.pk %}" class="inline" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'country_add' %}">
        <button class="btn btn-neutral">Add</button>
    </a>
</div>

{% endblock %}