{% extends 'base.html' %}
{% block content %}

<h1 class="font-title text-2xl font-bold">Countries</h1>
<div class="divider"></div>
<div class="overflow-x-auto">
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Alpha-2 Code</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for country in countries %}

        <tr>
            <td>{{ country.name }}</td>
            <td>{{ country.alpha2_code }}</td>
            <td>
                <form action="{% url 'country_delete' country.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
</div>

{% endblock %}