<html lang="en" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
  <div class="container-fluid pt-2">
    <p class="navbar-brand fw-bold ms-5">Melophobia</p>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item pe-4">
          <a class="nav-link active" aria-current="page" th:href="@{/}"><i class="bi-house-door-fill pe-1"></i> Home</a>
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link active" th:href="@{/artist/}"><i class="bi-person-fill pe-1"></i> Artists</a>
        </li>
        <li class="nav-item dropdown pe-4">
          <p class="nav-link dropdown-toggle active" id="collectionsDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false"><i class="bi-box-fill pe-1"></i> Collections</p>
          <ul class="dropdown-menu" aria-labelledby="collectionsDropdown">
            <li><a class="dropdown-item" th:href="@{/collection-digital/}">
              <i class="bi-music-player-fill pe-1"></i> Digital Collection</a>
            </li>
            <li><a class="dropdown-item" th:href="@{/collection-physical/}"><i class="bi-vinyl-fill pe-1"></i> Physical Collection</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" th:href="@{/purchase/}"><i class="bi-currency-dollar pe-1"></i> Purchases</a></li>
            <li><a class="dropdown-item" th:href="@{/vendor/}"><i class="bi-shop pe-1"></i> Vendors</a></li>
          </ul>
        </li>
        <li class="nav-item active pe-4">
          <a class="nav-link active" th:href="@{/genre/}"><i class="bi-tag-fill pe-1"></i> Genres</a>
        </li>
        <li class="nav-item pe-4">
          <a class="nav-link active" th:href="@{/label/}"><i class="bi-building-fill pe-1"></i> Labels</a>
        </li>
        <li class="nav-item dropdown pe-4">
          <p class="nav-link dropdown-toggle active" id="releasesDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false"><i class="bi-music-note-beamed pe-1"></i> Releases</p>
          <ul class="dropdown-menu" aria-labelledby="releasesDropdown">
            <li><a class="dropdown-item" th:href="@{/release/}"><i class="bi-music-note-beamed pe-1"></i> Releases</a></li>
            <li><a class="dropdown-item" th:href="@{/release/type/}"><i class="bi-type pe-1"></i> Release Types</a></li>
            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" th:href="@{/issue/}"><i class="bi-list-ul pe-1"></i> Issues</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown pe-4">
          <p class="nav-link dropdown-toggle active" id="tracksDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false"><i class="bi-music-note-list pe-1"></i> Tracks</p>
          <ul class="dropdown-menu" aria-labelledby="tracksDropdown">
            <li><a class="dropdown-item" th:href="@{/track/}"><i class="bi-music-note-list pe-1"></i> Tracks</a></li>
            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" th:href="@{/isrc/}"><i class="bi-code pe-1"></i> ISRCs</a></li>
            <li><a class="dropdown-item" th:href="@{/iswc/}"><i class="bi-braces pe-1"></i> ISWCs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <p class="nav-link dropdown-toggle active" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
             aria-expanded="false"><i class="bi-archive-fill pe-1"></i> Extras</p>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" th:href="@{/media/}"><i class="bi-cassette-fill pe-1"></i> Media</a></li>
            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" th:href="@{/composer/}"><i class="bi-pen pe-1"></i> Composers</a></li>
            <li><a class="dropdown-item" th:href="@{/producer/}"><i class="bi-headphones pe-1"></i> Producers</a></li>
            <li><a class="dropdown-item" th:href="@{/series/}"><i class="bi-collection pe-1"></i> Series</a></li>
            <li>
              <hr class="dropdown-divider"/>
            </li>
            <li><a class="dropdown-item" th:href="@{/language/}"><i class="bi-translate pe-1"></i> Languages</a></li>
            <li><a class="dropdown-item" th:href="@{/location/}"><i class="bi-geo-alt-fill pe-1"></i> Locations</a></li>
            <li><a class="dropdown-item" th:href="@{/region/}"><i class="bi-crosshair pe-1"></i> Regions</a></li>
            <li><a class="dropdown-item" th:href="@{/country/}"><i class="bi-globe pe-1"></i>Countries</a></li>
          </ul>
      </ul>
    </div>
  </div>
</nav>
</html>