{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Genre Form</h1>
    <div class="divider"></div>
    <div class="flex items-center justify-center">
        <form method="POST">
            <div class="space-y-12">
                {% csrf_token %}
                <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 w-80">
                    <!-- Name field -->
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text text-neutral">{{ form.name.label }}</span>
                        </div>
                        <input class="input input-bordered mt-2" type="text" name="name"
                               value="{{ form.name.value|default:'' }}"/>

                        {% if form.name.errors %}

                        <div class="label">
                            <span class="label-text-alt text-error text-xs">{{ form.name.errors }}</span>
                        </div>

                        {% endif %}

                    </label>
                    <!-- Origin Year field -->
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text text-neutral">{{ form.origin_year.label }}</span>
                        </div>
                        <input class="input input-bordered mt-2" type="text" name="origin_year"
                               value="{{ form.origin_year.value|default:'' }}"/>

                        {% if form.origin_year.errors %}

                        <div class="label">
                            <span class="label-text-alt text-error text-xs">{{ form.origin_year.errors }}</span>
                        </div>

                        {% endif %}

                    </label>
                    <!-- Is Favourite? field -->
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text text-neutral">{{ form.is_favourite.label }}</span>
                        </div>
                        <input class="block checkbox mt-2" type="checkbox" name="is_favourite"
                               {% if form.is_favourite.value %}checked{% endif %} />
                    </label>
                    <!-- Parent Genres field -->
                    <label class="form-control w-full max-w-xs">
                        <div class="label">
                            <span class="label-text text-neutral">{{ form.parent_genres.label }}</span>
                        </div>
                        <select multiple class="select select-bordered w-full mt-2" name="parent_genres">

                            {% for value, label in form.parent_genres.field.choices %}

                            <option value="{{ value }}"
                                    {% if value in form.parent_genres.value %}selected{% endif %}>
                                {{ label }}
                            </option>

                            {% endfor %}

                        </select>

                        {% if form.parent_genres.errors %}

                        <div class="label">
                            <span class="label-text-alt text-error text-xs">{{ form.parent_genres.errors }}</span>
                        </div>

                        {% endif %}

                    </label>
                </div>
                <button class="btn btn-neutral mt-6" type="submit">Submit</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}