{% extends 'base.html' %}
{% block content %}

<div>
    <h1 class="font-title text-2xl font-bold">Languages</h1>
    <div class="divider"></div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Script</th>
            <th>Action(s)</th>
        </tr>
        </thead>
        <tbody>

        {% for language in languages %}

        <tr>
            <td>{{ language.name }}</td>
            <td>{{ language.script }}</td>
            <td>
                <button class="btn btn-sm btn-info">
                    <a href="{% url 'language_edit' language.pk %}">Edit</a>
                </button>
                <form action="{% url 'language_delete' language.pk %}" class="inline" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-error" type="submit">Delete</button>
                </form>
            </td>
        </tr>

        {% endfor %}

        </tbody>
    </table>
    <a href="{% url 'language_add' %}">
        <button class="btn btn-neutral">Add</button>
    </a>
</div>

{% endblock %}