<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: head (pageTitle='Genres')">
  <title></title>
</head>
<body>
<div class="container-fluid mt-5" style="max-width: 1800px">
  <h3>Genres</h3>
  <hr/>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Origin Year</th>
      <th scope="col">Parent Genre(s)</th>
      <th scope="col">Favourite</th>
      <th scope="col" style="width: 2.5%">Edit</th>
      <th scope="col" style="width: 2.5%">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="genre: ${genres}">
      <td th:text="${genre.name}"></td>
      <td th:text="${genre.originYear}"></td>
      <td><span th:each="genre, i: ${genre.parentGenres}"
                th:text="!${i.last} ? ${genre.name} + ' / ' : ${genre.name}"></span></td>
      <td th:text="${genre.favourite}"></td>
      <td>
        <a th:href="@{/genre/edit/{id}(id = ${genre.genreId})}">
          <button class="btn btn-primary btn-sm"><i class="bi-pencil-fill"></i></button>
        </a>
      </td>
      <td>
        <a th:href="@{/genre/delete/{id}(id = ${genre.genreId})}">
          <button class="btn btn-danger btn-sm"><i class="bi-trash-fill"></i></button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="container-fluid" style="max-width: 1800px">
    <div class="row text-end mb-4">
      <div class="col-12">
        <a th:href="@{/genre/add}">
          <button type="submit" class="btn btn-primary" th:text="Add"></button>
        </a>
      </div>
    </div>
  </div>
</div>
<div th:include="fragments/layout :: footer"></div>
</body>
</html>