<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head(pageTitle='Issues')}">
  <title></title>
</head>
<body>
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container-fluid mt-5" style="max-width: 1800px">
  <h3>Issues</h3>
  <hr/>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Catalogue ID</th>
      <th scope="col">Name</th>
      <th scope="col">Artist(s)</th>
      <th scope="col">Release Date</th>
      <th scope="col">Record Label</th>
      <th scope="col">Media</th>
      <th scope="col">Matrix/Runout</th>
      <th scope="col">Barcode</th>
      <th scope="col" style="width: 2.5%">Edit</th>
      <th scope="col" style="width: 2.5%">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr scope="row" th:each="issue: ${issues}">
      <td><a th:href="@{/issue/{id}(id = ${issue.issueId})}" th:text="${issue.catalogueId}"></a></td>
      <td th:text="${issue.release.title}"></td>
      <td><a th:each="artist, i: ${issue.release.artists}" th:href="@{/artist/{id}(id = ${artist.artistId})}"
             th:text="!${i.last} ? ${artist.name} + ' / ' : ${artist.name}"></a></td>
      <td th:text="${issue.releaseDate}"></td>
      <td><a th:href="@{/label/{id}(id = ${issue.label.labelId})}" th:text="${issue.label.name}"></a></td>
      <td th:text="${issue.media.mediaAbbreviation} ? ${issue.media.mediaAbbreviation} : ${issue.media.name}"></td>
      <td th:text="${issue.matrixRunout}"></td>
      <td th:text="${issue.barcode}"></td>
      <td>
        <a th:href="@{/issue/edit/{id}(id = ${issue.issueId})}">
          <button class="btn btn-primary btn-sm"><i class="bi-pencil-fill"></i></button>
        </a>
      </td>
      <td>
        <a th:href="@{/issue/delete/{id}(id = ${issue.issueId})}">
          <button class="btn btn-danger btn-sm"><i class="bi-trash-fill"></i></button>
        </a>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="container-fluid" style="max-width: 1800px">
    <div class="row text-end mb-4">
      <div class="col-12">
        <a th:href="@{/issue/add}">
          <button type="submit" class="btn btn-primary" th:text="Add"></button>
        </a>
      </div>
    </div>
  </div>
</div>
<div th:insert="~{fragments/layout :: footer}"></div>
</body>
</html>