<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{fragments/layout :: head(pageTitle='Location Form')}">
  <title></title>
</head>
<body class="d-flex flex-column min-vh-100">
<div th:insert="~{fragments/navbar :: navbar}"></div>
<div class="container mt-5">
  <h3 th:text="${action} + ' Location'"></h3>
  <hr/>
  <div class="container-fluid" style="max-width: 800px">
    <form action="#"
          th:action="${action} == 'Edit' ? @{/location/edit/{id}(id = ${location.locationId})} : @{/location/add}"
          th:object="${location}" method="post">
      <div class="mb-4">
        <label for="cityInput" class="form-label">City</label>
        <input type="text" class="form-control" id="cityInput" th:field="*{city}"/>
        <div id="cityValidation" class="form-text text-danger" th:if="${#fields.hasErrors('city')}"
             th:errorclass="error" th:errors="*{city}"></div>
      </div>
      <div class="mb-4">
        <label for="regionSelect" class="form-label">Region & Country</label>
        <select class="form-select" id="regionSelect" th:field="*{region}">
          <option th:each="region: ${regions}" th:value="${region.regionId}"
                  th:text="${region.name}
                      ? ${region.name} + ', ' + ${region.country.countryName}
                      : ${region.country.countryName}"></option>
        </select>
      </div>
      <div class="text-end mb-4">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
<th:block th:insert="~{fragments/footer :: footer}"></th:block>
<div th:insert="~{fragments/layout :: scripts}"></div>
</body>
</html>